.dropdown-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0.3rem 0.3rem 0.5rem;
    height: 37px;
    border-radius: 3px;
    border: 1px solid rgba(249, 249, 249, 0.08);
    font-size: 0.9rem;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    padding: 0.25rem 0 0.4rem 0.5rem;
    background-color: #131313;
    border: 1px solid #3c3c3c;
    border-radius: 3px;
    top: 90px;
}
